!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title QR CODE MADNESS
    %link{href: "stylesheets/application.css", rel: "stylesheet"}/
    %script{src: "javascript/application.js"}
  %body
    #wrapper
      #header
        #gif
          %img{:src => "/images/gif.gif"}
      #content
        =yield
      #footer
