#gif
  %img{:src => @image_url}
%h1
  = "Und daf체r haben Sie jetzt extra diesen Code eingescannt..."
%form{:action => "/create", :method => "post", :id => "new_form"}
  %ul
    %li
      %textarea{:name => "post[body]", :placeholder => "Lassen Sie ihren Gef체hlen freien lauf", :id => "body"}
    %li
      %input{:type => "text", :name => "post[author]", :placeholder => "Name", :id => "author"}
    %li
      %label
        = "Ich akzeptiere, dass Ich gerade zwei Minuten meines Lebens verschwendet habe"
        %input{:type => "checkbox", :id => "agb_checkbox"}
    #upload_image
      %hr
      %h1= "Begl체cken Sie den n채chsten Besucher mit einem neuen .gif"
      %li
        #loading
          #floatingBarsG
            #rotateG_01.blockG
            #rotateG_02.blockG
            #rotateG_03.blockG
            #rotateG_04.blockG
            #rotateG_05.blockG
            #rotateG_06.blockG
            #rotateG_07.blockG
            #rotateG_08.blockG
        #new_image
        #new_image_input
          %input{:type => "text", :name => "image_url", :placeholder => "http://"}
    %li
      %input{:type => "submit", :value => "speichern", :class => "button", :id => "submit"}
