- if @posts.any?
  %h1
    = "Keine Sorge, Sie sind nicht alleine..."
  %hr
  %ul#post_list
    - @posts.each do |post|
      .post
        .image
          %img{:src => post.image_url }
        .content
          %li.body
            &= post.body
          %li.author
            .inline -
            .inline
              &= post.author
      %hr
