$border: lightgrey;

.inline {
  display: inline-block;
}

body {
  font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  background: #ffffff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

#header {
  margin-top: 5%;

  #gif {
    text-align: center;
  }
}

#smiley {
  float: right;
  margin-right: 20px;
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }
}

#content {

  h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
  }

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  li {
    width: calc(100% - 10px);
    padding: 5px;
    text-align: right;
  }

  form {

    input[type=text], textarea {
      font: inherit;
      font-size: 15px;
      border: 1px solid $border;
      margin: 0;
      padding: 5px;
      line-height: 2em;
    }

    #body {
      resize: none;
      width: calc(100% - 10px);
      min-width: 160px;
      height: 100px;
    }

    #author {
      text-align: left;
    }

    #submit {
      text-align:center;
      text-decoration: none;
      font-size: 150%;
      font-family: sans-serif;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      color: #FFF;
      background: #D82C2C;
      display: inline-block;
      padding: 10px 32px;
      margin: 15px 0px;
      border: 3px solid rgba(0, 0, 0, 0.16);
      -webkit-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    #submit:hover {
      background: #9E1919;
    }


  }

  .post {
    font-size: 15px;
    margin: 20px;
  }

  .body {
    text-align: left;
  }

  /* Flaired edges, by Tomas Theunissen */
  hr {
    width: 100%;
    height: 1px;
    color: $border;
    background: $border;
    font-size: 0;
    border: 0;
  }
}
