$border: lightgrey;

.inline {
  display: inline-block;
}

html {
  height: 101%;
}

body {
  font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  background: #ffffff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

#header {
  margin-top: 5%;

}

#content {

  #image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    img {
      width: 100%;
    }
  }


  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
  }

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  li {
    width: calc(100% - 10px);
    padding: 5px;
    text-align: right;
  }

  #upload_image {
    display: none;

    #new_image {
      float: left;
      width: 100px;

      img {
        width: 100%;
      }
    }

    #new_image_input {
      display: inline-block;

      input {
      }
    }
  }

  form {

    input[type=text], textarea {
      font: inherit;
      font-size: 15px;
      border: 1px solid $border;
      margin: 0;
      padding: 5px;
      line-height: 2em;
    }

    #body {
      resize: none;
      width: calc(100% - 12px);
      min-width: 160px;
      height: 100px;
    }

    #author {
      text-align: left;
    }

    #submit {
      text-align:center;
      text-decoration: none;
      font-size: 150%;
      font-family: sans-serif;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      color: #FFF;
      background: #D82C2C;
      display: inline-block;
      padding: 10px 32px;
      margin: 15px 0px;
      border: 3px solid rgba(0, 0, 0, 0.16);
      -webkit-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    #submit:hover {
      background: #9E1919;
    }


  }

  .post {
    font-size: 15px;
    margin: 20px;

    .image {
      display: table-cell;
      width: 20%;

      img {
        width: 100%;
      }

    }

    .content {

      display: table-cell;
      vertical-align: middle;

      .body {
        text-align: left;
      }

    }
  }

  /* Flaired edges, by Tomas Theunissen */
  hr {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    color: $border;
    background: $border;
    font-size: 0;
    border: 0;
  }
}

#loading {
  float: left;
  display: none;
}

#floatingBarsG {
  position:relative;
  width:62px;
  height:77px
}

.blockG {
  position:absolute;
  background-color:#FFFFFF;
  width:10px;
  height:24px;
  -moz-border-radius:8px 8px 0 0;
  -moz-transform:scale(0.4);
  -moz-animation-name:fadeG;
  -moz-animation-duration:0.96s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:8px 8px 0 0;
  -webkit-transform:scale(0.4);
  -webkit-animation-name:fadeG;
  -webkit-animation-duration:0.96s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:8px 8px 0 0;
  -ms-transform:scale(0.4);
  -ms-animation-name:fadeG;
  -ms-animation-duration:0.96s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:8px 8px 0 0;
  -o-transform:scale(0.4);
  -o-animation-name:fadeG;
  -o-animation-duration:0.96s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:8px 8px 0 0;
  transform:scale(0.4);
  animation-name:fadeG;
  animation-duration:0.96s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#rotateG_01 {
  left:0;
  top:28px;
  -moz-animation-delay:0.36s;
  -moz-transform:rotate(-90deg);
  -webkit-animation-delay:0.36s;
  -webkit-transform:rotate(-90deg);
  -ms-animation-delay:0.36s;
  -ms-transform:rotate(-90deg);
  -o-animation-delay:0.36s;
  -o-transform:rotate(-90deg);
  animation-delay:0.36s;
  transform:rotate(-90deg);
}

#rotateG_02 {
  left:8px;
  top:10px;
  -moz-animation-delay:0.48s;
  -moz-transform:rotate(-45deg);
  -webkit-animation-delay:0.48s;
  -webkit-transform:rotate(-45deg);
  -ms-animation-delay:0.48s;
  -ms-transform:rotate(-45deg);
  -o-animation-delay:0.48s;
  -o-transform:rotate(-45deg);
  animation-delay:0.48s;
  transform:rotate(-45deg);
}

#rotateG_03 {
  left:26px;
  top:3px;
  -moz-animation-delay:0.6s;
  -moz-transform:rotate(0deg);
  -webkit-animation-delay:0.6s;
  -webkit-transform:rotate(0deg);
  -ms-animation-delay:0.6s;
  -ms-transform:rotate(0deg);
  -o-animation-delay:0.6s;
  -o-transform:rotate(0deg);
  animation-delay:0.6s;
  transform:rotate(0deg);
}

#rotateG_04 {
  right:8px;
  top:10px;
  -moz-animation-delay:0.72s;
  -moz-transform:rotate(45deg);
  -webkit-animation-delay:0.72s;
  -webkit-transform:rotate(45deg);
  -ms-animation-delay:0.72s;
  -ms-transform:rotate(45deg);
  -o-animation-delay:0.72s;
  -o-transform:rotate(45deg);
  animation-delay:0.72s;
  transform:rotate(45deg);
}

#rotateG_05 {
  right:0;
  top:28px;
  -moz-animation-delay:0.8400000000000001s;
  -moz-transform:rotate(90deg);
  -webkit-animation-delay:0.8400000000000001s;
  -webkit-transform:rotate(90deg);
  -ms-animation-delay:0.8400000000000001s;
  -ms-transform:rotate(90deg);
  -o-animation-delay:0.8400000000000001s;
  -o-transform:rotate(90deg);
  animation-delay:0.8400000000000001s;
  transform:rotate(90deg);
}

#rotateG_06 {
  right:8px;
  bottom:7px;
  -moz-animation-delay:0.96s;
  -moz-transform:rotate(135deg);
  -webkit-animation-delay:0.96s;
  -webkit-transform:rotate(135deg);
  -ms-animation-delay:0.96s;
  -ms-transform:rotate(135deg);
  -o-animation-delay:0.96s;
  -o-transform:rotate(135deg);
  animation-delay:0.96s;
  transform:rotate(135deg);
}

#rotateG_07 {
  bottom:0;
  left:26px;
  -moz-animation-delay:1.0799999999999998s;
  -moz-transform:rotate(180deg);
  -webkit-animation-delay:1.0799999999999998s;
  -webkit-transform:rotate(180deg);
  -ms-animation-delay:1.0799999999999998s;
  -ms-transform:rotate(180deg);
  -o-animation-delay:1.0799999999999998s;
  -o-transform:rotate(180deg);
  animation-delay:1.0799999999999998s;
  transform:rotate(180deg);
}

#rotateG_08 {
  left:8px;
  bottom:7px;
  -moz-animation-delay:1.2s;
  -moz-transform:rotate(-135deg);
  -webkit-animation-delay:1.2s;
  -webkit-transform:rotate(-135deg);
  -ms-animation-delay:1.2s;
  -ms-transform:rotate(-135deg);
  -o-animation-delay:1.2s;
  -o-transform:rotate(-135deg);
  animation-delay:1.2s;
  transform:rotate(-135deg);
}

@-moz-keyframes fadeG {
  0% {background-color:#000000}
  100% {background-color:#FFFFFF}

}

@-webkit-keyframes fadeG {
  0% {background-color:#000000}
  100%{background-color:#FFFFFF}

}

@-ms-keyframes fadeG {
  0%{background-color:#000000}
  100%{background-color:#FFFFFF}
}

@-o-keyframes fadeG {
  0%{background-color:#000000}
  100%{background-color:#FFFFFF}
}

@keyframes fadeG {
  0%{background-color:#000000}
  100%{background-color:#FFFFFF}
}
